
  @media screen and (max-width: 600px) {
    .poto {
        display: none;
    }

    .notelpon {
        display: none;
    }

    .join {
        display: none;
    }

    .jeniskelamin {
        display: none;
    }

  }